.hidden {
  display: none;
}

.pitch {
  display: inline-block;
  width: 25px;
  margin:5px;
}

.pitch-name {
  text-align: center;
}

.pitch-slider {
  -webkit-appearance: slider-vertical;
  width: 25px;
  height: 75px;
}

.staff {
}
